.extra-menu() {
	&__link {
		.menu-link();
	}
}

.menu-link() {
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	color: @text-color;
	margin-left: 16px;
	&:hover {
		color: @accent-color;
	}
}