.extra-menu() {

	&__link {
		.menu-link();
	}
	@media @device-xs {
		position: fixed;
		top: 54px;
		width: 100%;
		left: -100%;
		z-index: 100;
		background: #f5f5f5;
		padding: 10px 19px;


		&.active--js{
			left: 0;
			box-shadow: 0 10000px 0px 10000px fade(#000, 50);
		}
		&__link {
			display: block;
			margin-left: 0;
		}
	}
}

.menu-link() {
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	color: @text-color;
	margin-left: 16px;
	&:hover {
		color: @accent-color;
	}
}