{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Title</title>
    <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,700" rel="stylesheet">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/assets/owl.carousel.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header class="header">
        <div class="header__section">
            <div class="logo">
                <a href="/" class="logo__link">
                    <span class="logo__text">Интернет-магазин «Благой арт»</span>
                </a>
            </div>
            <div class="main-search">
                <form action="/search" action="POST" class="main-search__form">
                    <div class="main-search__content">
                        <input type="text" class="main-search__input" placeholder="Введите название или артикул">
                        <button type="submit" class="main-search__submit"></button>
                    </div>
                </form>
            </div>
            <div class="extra-contacts">
                <a class="extra-contacts__phone" href="tel:+78007078139">+7(800)707-81-39</a>
                <div class="extra-contacts__delivery">
                    <div class="extra-contacts__text--accent">ПН-ПТ с 9:00 до 18:00</div>
                    <div class="extra-contacts__text">Доставка по РФ и СНГ</div>
                </div>
            </div>
        </div>

        <div class="header__section header__section--stratch">
            <nav class="catalog-menu">
                <div class="catalog-menu__title">Каталог товаров</div>
                <ul class="catalog-menu__list">
                    <li class="catalog-menu__item catalog-menu__item--parent">
                        <a class="catalog-menu__link">Свадебная бижутерия</a>
                        <div class="catalog-menu__childs">
                            <div class="catalog-menu__childs-title">Свадебные аксессуары</div>
                            <ul class="catalog-menu__list">
                                <li class="catalog-menu__item">
                                    <a class="catalog-menu__link">Браслеты</a>
                                </li>
                                <li class="catalog-menu__item">
                                    <a class="catalog-menu__link">Кулоны</a>
                                </li>
                                <li class="catalog-menu__item">
                                    <a class="catalog-menu__link">Серьги и броши</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="catalog-menu__item">
                        <a class="catalog-menu__link">Аксессуары для волос</a>
                    </li>
                    <li class="catalog-menu__item">
                        <a class="catalog-menu__link">Броши</a>
                    </li>
                    <li class="catalog-menu__item catalog-menu__item--parent">
                        <a class="catalog-menu__link">Мужские аксессуары</a>
                        <div class="catalog-menu__childs">
                            <div class="catalog-menu__childs-title">Мужская бижутерия</div>
                            <ul class="catalog-menu__list">
                                <li class="catalog-menu__item">
                                    <a class="catalog-menu__link">Браслеты</a>
                                </li>
                                <li class="catalog-menu__item">
                                    <a class="catalog-menu__link">Кулоны</a>
                                </li>
                                <li class="catalog-menu__item">
                                    <a class="catalog-menu__link">Зажимы и запонки</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="catalog-menu__item">
                        <a class="catalog-menu__link">Клатчи</a>
                    </li>
                    <li class="catalog-menu__item">
                        <a class="catalog-menu__link">Детская бижутерия</a>
                    </li>
                    <li class="catalog-menu__item">
                        <a class="catalog-menu__link">Демонстрационное оборудование</a>
                    </li>
                </ul>
            </nav>

            <nav class="extra-menu">
                <a href="#" class="extra-menu__link">Условия работы</a>
                <a href="#" class="extra-menu__link">Скидки</a>
                <a href="#" class="extra-menu__link">Оплата и доставка</a>
                <a href="#" class="extra-menu__link">Документы</a>
                <a href="#" class="extra-menu__link">Контакты</a>
            </nav>

            <!-- Реализовать кнопки MAIN,PAGE в хедере помимо существующих в макете.-->
            <nav class="special-menu">
                <a class="special-menu__link" href="{% url "main" %}">main</a>
                <a class="special-menu__link" href="{% url "page" %}">page</a>
            </nav>

            <div class="mini-cart">
                <div class="mini-cart__count">10</div>
                <div class="mini-cart__total">
                    <div class="mini-cart__text">товаров</div>
                    <div class="mini-cart__total-currency">56 789</div>
                    <div class="mini-cart__currency">P</div>
                </div>
            </div>

            <nav class="customer-menu">
                <a href="#" class="customer-menu__link customer-menu__login">Войти</a>
            </nav>
        </div>
    </header>

    <main class="main-content">
        {% block content %}{% endblock %}
    </main>

<script data-main="{% static 'js/boot.js' %}" src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.3.5/require.min.js"></script>
</body>
</html>