{% load static %}
<div class="slider">
    <div class="slider__item">
        <div class="slide">
        	<div class="slide__image">
        		<img src="{% static 'img/slide.jpg' %}" alt="slide">
        	</div>

        	<div class="slide__desc">
        		<p class="slide__text">Новая коллекция</p>
        		<p class="slide__text--accent">SWAROVSKI</p>
        		<p class="slide__text">уже здесь!</p>
        	</div>
        </div>
    </div>

    <div class="slider__item">
        <div class="slide">
        	<div class="slide__image">
        		<img src="{% static 'img/slide.jpg' %}" alt="slide">
        	</div>

        	<div class="slide__desc">
        		<p class="slide__text">Новая коллекция</p>
        		<p class="slide__text--accent">SWAROVSKI</p>
        		<p class="slide__text">уже здесь!</p>
        	</div>
        </div>
    </div>
</div>